@import "tailwindcss";

@theme {
  --color-primary: #6B21A8;
  --color-primary-light: #F3E8FF;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.card-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.search-shadow {
  box-shadow: 0 4px 20px -2px rgba(107, 33, 168, 0.1);
}
